extends ./layouts/main.pug


block body
  .row
    .col-md-4
      img.img-responsive.center-block(src=userData.image, style='width: 250px;margin-bottom: 25px;')
    .col-md-8
        h4  
          strong #{userData.name}
        p #{userData.email}
        if userData.id === user.id
          form(action=`/users/${userData.id}/edit`)
            button.btn.btn-danger(type='submit') Edit
  br

  h7 
    strong #{commentedRes.length}已評論餐廳
  hr
  .card-group
    each restaurant in commentedRes
      .card.mx-1( style= 'max-width:100px')
        a(href=`/restaurants/${restaurant.id}`)
          img.card-img-top(src=restaurant.image)


